doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href='/css/styles.min.css')
    title Assignment One
  body
    h1 Hello World!
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus ab eveniet ratione obcaecati architecto amet corrupti nesciunt, non inventore. Quae corrupti, facere nihil magni modi perferendis velit esse aspernatur exercitationem.